@model List<Trackily.Models.ViewComponents.CommentThreadViewComponent>
<!--Model has all the CommentThread & Comment for a particular Ticket.-->

<h1>Comments</h1>
<hr />
<!--Comment thread-->
<div class="container pt-3">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-sm float-left">
                            <h5>Username</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm float-left">
                            <p>Created: 02/02/2015 5:30pm</p>
                        </div>
                        <div class="col-sm float-right">
                            <p>Updated: 03/02/2015 3:30pm</p>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Content goes here."></textarea>
                    </div>
                </div>
                <div class="card-footer">
                    <ul class="list-group list-group-horizontal-sm float-right">
                        <li class="list-group-item">Reply</li>
                        <li class="list-group-item">Edit</li>
                        <li class="list-group-item">Delete</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--New reply box should appear here.-->
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-sm float-left">
                            <h6>Reply to thread</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Content goes here."></textarea>
                    </div>
                </div>
                <div class="card-footer">
                    <ul class="list-group list-group-horizontal-sm float-right">
                        <li class="list-group-item">Submit</li>
                        <li class="list-group-item">Cancel</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Replies to the comment thread-->
    <div class="row">
        <div class="col-sm offset-sm-2">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-sm float-left">
                            <h6>Username</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm float-left">
                            <p><small>Created: 02/02/2015 5:30pm</small></p>
                        </div>
                        <div class="col-sm float-right">
                            <p><small>Created: 02/02/2015 5:30pm</small></p>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Content goes here."></textarea>
                    </div>
                </div>
                <div class="card-footer">
                    <ul class="list-group list-group-horizontal-sm float-right">
                        <li class="list-group-item">Edit</li>
                        <li class="list-group-item">Delete</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of replies to thread.-->
