<div class="container-fluid float-left">
    <div class="jumbotron">
        <h1 class="display-4">About Trackily <i class="far fa-file-code"></i></h1>
        <hr class="my-4">
        <p>
            I developed Trackily in order to get my feet wet with web development. My primary learning goals for this project were to:
        </p>
        <ul>
            <li>Create a web app using an MVC architecture</li>
            <li>Implement CRUD actions with a relational database</li>
            <li>Implement authentication & authorization</li>
        </ul>
    </div>
</div>