<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">About this website <i class="far fa-file-code"></i></h1>
        <p class="lead">I started developing Trackily in May 2020...</p>
        <hr class="my-4">
        <p>More info here.</p>
    </div>
</div>