<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">This page doesn't exist. <i class="far fa-frown-open"></i></h1>
        <p class="lead">Sorry, I haven't added this page!</p>
        <hr class="my-4">
        <p>I probably haven't added this page because I thought it was tangential to my learning goals for this project.</p>
        <p>
            If you're interested in knowing how I'd add this page, shoot me an email at <a href="mailto:spencer_zeng@sfu.ca">spencer_zeng@sfu.ca</a>. Thanks!
            <i class="far fa-thumbs-up"></i>
        </p>
    </div>
</div>