<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">This page hasn't been added yet. <i class="far fa-frown-open"></i></h1>
        <p class="lead">Sorry, I haven't gotten around to adding this page yet!</p>
        <hr class="my-4">
        <p>I probably haven't added this page yet because I thought it was tangential to my learning goals for this project.</p>
        <p>
            However, if you would really like to see this page added shoot me an email at <a href="mailto:spencer_zeng@sfu.ca">spencer_zeng@sfu.ca</a>. Thanks!
            <i class="far fa-thumbs-up"></i>
        </p>
    </div>
</div>