@model Trackily.Models.View.CreateProjectViewModel

<div class="container float-left">
    <div class="col-md-10">
        <h1>
            New Project
        </h1>
        <hr>
        <form>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label>Title</label>
                    <input class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label>Description</label>
                    <input class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Assign users to Ticket</label>
                    <span asp-validation-for="AddMembers" class="text-danger"></span>
                    <table class="table table-borderless p-0" id="formTable">
                        <tbody>
                            <tr>
                                <td class="p-0"><input asp-for="AddMembers" class="form-control" placeholder="username" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary btn-circle mt-0" href="javascript:addRow();" role="button">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <button type="submit" class="btn btn-success btn-circle btn-lg float-left">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
