@using Microsoft.AspNetCore.Identity
@using Trackily.Areas.Identity.Data 
@inject SignInManager<TrackilyUser> SignInManager
@inject UserManager<TrackilyUser> UserManager

<ul class="navbar-nav">
    <li class="nav-item ml-3">
        <a class="text-dark">@DateTime.Now.ToString("dddd, MMM d yyyy hh:mm tt")</a>
    </li>
</ul>
<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="PageNotAdded">
                Hello @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item no-arrow">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                Login
            </a>
        </li>
        <li class="nav-item no-arrow">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
                Register
            </a>
        </li>
    }
</ul>
