@model Trackily.Models.Views.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container-fluid">
    <div class="text-center">
        <div class="error mx-auto" data-text="Error">Error</div>
        <p class="lead text-gray-800 mb-5">@Model.RequestId</p>
        <p class="text-gray-500 mb-0">An error occurred while processing your request.</p>
        <a asp-controller="Home" asp-action="Index">&larr; Back to Homepage</a>
    </div>
</div>

