@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="text-center">
        <div class="error mx-auto" data-text="403">403</div>
        <p class="lead text-gray-800 mb-5">Access Denied</p>
        <p class="text-gray-500 mb-0">You cannot access this resource.</p>
        <a asp-controller="Home" asp-action="Index">&larr; Back to Homepage</a>
    </div>
</div>
