@model Trackily.Models.View.CreateTicketViewModel
@using static Trackily.Models.Domain.Ticket

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<TicketType>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority"></label>
                <select asp-for="Priority" asp-items="Html.GetEnumSelectList<TicketPriority>()"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Assign users</label>
                <table id="formTable">
                    <tbody>
                        <tr>
                            <td><input asp-for="AddAssigned" class="form-control" placeholder="username" /></td>
                        </tr>
                    </tbody>
                </table>
                <span asp-validation-for="AddAssigned" class="text-danger"></span>
                <a class="btn btn-primary" href="javascript:addRow();" role="button">Add</a>
            </div>
            <div class="form-group">
                <span asp-validation-for="Content" class="text-danger"></span>
                <textarea asp-for="Content" id="Content"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}