@model IEnumerable<Trackily.Models.Views.Ticket.IndexTicketViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid overflow-hidden">
    @switch (ViewData["indexScope"])
    {
        case "created":
            <partial name="~/Views/Shared/TicketsTablePartial/_CreatedTicketsTablePartial.cshtml"/>
            break;
        case "assigned":
            <partial name="~/Views/Shared/TicketsTablePartial/_AssignedTicketsTablePartial.cshtml"/>
            break;
        case "closed":
            <partial name="~/Views/Shared/TicketsTablePartial/_ClosedTicketsTablePartial.cshtml"/>
            break;
        default:
            <partial name="~/Views/Shared/TicketsTablePartial/_ActiveTicketsTablePartial.cshtml"/>
            break;
    }
</div>