@model IEnumerable<Trackily.Models.View.IndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid overflow-hidden">
    @switch (ViewData["indexScope"])
    {
        case "created":
            <partial name="_CreatedTicketsTablePartial"/>
            break;
        case "assigned":
            <partial name="_AssignedTicketsTablePartial"/>
            break;
        case "closed":
            <partial name="_ClosedTicketsTablePartial"/>
            break;
        default:
            <partial name="_ActiveTicketsTablePartial"/>
            break;
    }
</div>